* {
    box-sizing: border-box;
  }

  body {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }
.nav {
    background-color: lightgrey;
}

.bio {
    background-color: darkgray;
}

.project-one {
    background-color: lightgrey;
    min-height: 200px;
}

.footer {
    background-color: lightgrey;
}